::selection{
    background: #000;  
    color: #fff;       
}


header{
    display: flex;
    justify-content: space-between;
    min-height: 45 px;
    font-family: "Ek Mukta", sans-serif;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    padding: 0 15%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 45px;
    height: 35px;
}

.nav-menu{
    display: flex;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    gap: 30px;
}

.nav-menu a{
    color: #fff;
    text-decoration: none;
    transition: opacity .01s ease;
}

body{
    font-family: "Ek Mukta", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222829;
    font-weight: 20;
    line-height: 1.5;
    -webkit-font-smoothing: antiliased;
}

.content{
    padding: 0 18%;
    margin-bottom: 100px;
}

@media (max-width: 1400px){
    .content{
        padding: 0 5%;
    }
}

.content h1{
    display: block;
    font-size: 48px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 200;
    line-height: 1.2;
    margin: 30px 0 20px;
}

.content h2{
    font-size: 30px;
}

.content p{
    font-size: 21px;
    margin: 0 0 30px;
    padding: 0;
}

.content a{
    color: #33509F;
    text-decoration: underline;
}

.gallery{
    display: flex;
    justify-content: center;
    gap: 3%;     
    margin: 40px 0;
}

.gallery img{
    width: 360px;
    height: 270px;
    object-fit: cover;
}

.bottom{
    margin-top: 0px;
    background-color: rgb(230,230,230);
    padding: 0 18%;
    font-size: 20px;
}

@media (max-width: 1400px){
    .bottom{
        padding: 0 5%;
    }
}

.bottom img{
    margin-left: 18%;
}

.bottom b{
    font-weight: 800;
}

.social_media{
    align-items: center;
    display: flex;
}

.social_media h3{
    margin-right: 70px;
}

.social_media img{
    width: 56px;
    height: 56x;
    margin-left: 20px;
    margin-top: 30px;
}

.social_media a{
    width: 56px;
    height: 56x;
    margin-left: 20px;
    margin-top: 30px;
}

.newsletter{
    align-items: center;
    display: flex;
    font-size: 22px;
}

.newsletter input{
    width: 170px;
    height: 60px;
    padding: 0 14px;
    border: 1px solid #cfcfcf;
    background: #FFF;
    outline: none;
    font-size: 28px;
    margin-right: 8px;
    box-sizing: border-box;
}

.newsletter input::placeholder{
    color: #777;
    font-size: 22px;
    font-family: Arial;
}

.newsletter button{
    width: 170px;
    height: 60px;
    padding: 0 14px;
    border: none;
    border-radius: 4px;
    background: #2f4ea2;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.support{
    align-items: flex-start;
    display: flex;
}

.support img{
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: 5%;
}

.support a{
    max-width: 25%;
    height: auto;
    display: block;
    margin-left: 5%;
}

.also{
    align-items: center;
    display: flex;
    font-weight: 800;
}

.also h3{
    margin-right: 100px;
    font-weight: 900;
}

.legal{
    align-items: center;
    display: flex;
}

.legal a{
    max-width: 100px;
    height: auto;
    display: block;
    margin-left: 13%;
    margin-right: 20px;
}

.legal img{
    max-width: 100px;
    height: auto;
    display: block;
    margin-left: 13%;
    margin-right: 20px;
}

.legal p{
    display: block;
}

.foot{
    background-color: #000;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foot p{
    margin: 0;
    color:#FFF;
    font-size: 12px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
