header{
    display: flex;
    justify-content: space-between;
    min-height: 55 px;
    font-family: "Ek Mukta", sans-serif;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    align-items: center;
    padding: 0 20%;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img{
    width: 45px;
    height: 35px;
}

.nav-menu{
    display: flex;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    gap: 30px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}